.project-container {
    background-color: #23272b;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #121315, -1px -1px 5px #4e555d;
}

.project-card {
    cursor: pointer;
}

.project-title {
    color: #ff014f;
    margin-bottom: 10px;
}

.project-details {
    color: white;
}

.project-description {
    margin-bottom: 10px;
}

.project-tech {
    color: #cfd3d7;
}
