@import "bootstrap/dist/css/bootstrap.min.css";


/* Additional custom styles */
/* Navbar */
body {
    background-color: #22225e; /* or rgb(34,34,94) */
  }
  
.navbar {
  background-color: #343a40 !important;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff !important;
}

/* Home */
#home {
  background-color: #007bff;
  color: #fff;
}

/* About */
#about {
  color: #333;
}

/* Projects */
#projects {
  background-color: #f8f9fa;
}

/* Contact */
#contact {
  color: #333;
}
